<div class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}">
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img class="sidebar__introduction-profileimage" src="{{ .Site.Params.profilePicture | relURL }}"
        alt="profile picture" />
      {{ if .IsHome }}
      <h1 class="sidebar__introduction-title">
        <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
      </h1>
      {{ else }}
      <div class="sidebar__introduction-title">
        <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
      </div>
      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
    <ul class="sidebar__list">
      {{ range $item := .Site.Params.socialIcons }}
      <li class="sidebar__list-item">
        <a href="{{ $item.url }}" target="_blank" rel="noopener me" aria-label="{{ $item.title }}"
          title="{{ $item.title }}">
          <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          <span>{{ $item.label }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
    <div class="buttons">
      <button class="button-outlined" onclick="window.open('https://yevarizhko.pp.ua/docs/CV_Yeva_Rizhko.pdf','_blank')">
        Download CV <i class="fa-regular fa-circle-down"></i>
      </button>
      <button class="button-outlined" onclick="window.open('https://yevarizhko.pp.ua/docs/Portfolio_UI_Yeva_Rizhko.pdf','_blank')">
        Portfolio PDF<i class="fa-regular fa-circle-down"></i>
      </button>
    </div>
    <a href="https://savelife.in.ua/en/donate-en/#donate-army-card-monthly" target="_blank"
      style="margin-top: 24px; display: flex; align-items: center; flex-direction:column ;"><span>Support Ukraine's
        fight
        for
        freedom <i class="fa-solid fa-arrow-up-right-from-square"></i></span><img style="margin-top: 8px;"
        src="https://yevarizhko.com/assets/come-back-alive_logo.svg" alt="SaveLife Logo" width="150" height="75"></a>
  </div>
  {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
</div>